---
import Layout from "@layouts/Layout.astro";
import { productos } from "@lib/products";
import { items } from "@lib/categories";

export async function getStaticPaths() {
    return productos
        .filter((producto) => producto.urlName && producto.urlName.length > 0)
        .map((producto) => ({
            params: { nombreUrl: producto.urlName },
        }));
}

const { nombreUrl } = Astro.params;
const producto = productos.find((p) => p.urlName === nombreUrl);
if (!producto) {
    return Astro.redirect("/404");
}

const categoria = items.find((item) => item.productos.includes(producto.id));
// if there's a table in producto.descripcion, add a column with the pdfs in producto.pdfs_tabla
const pdfs = producto?.expand?.pdfs_tabla;

let description = producto.descripcion;
let isFirstRow = true;
let index = 0;
description = description.replace(/<\/tr>/g, () => {
    if (pdfs?.length > 0) {
        console.log(pdfs[index]);
        const content = isFirstRow
            ? "DATA SHEET"
            : "https://doctor-agua.pockethost.io/api/files/" +
                  pdfs[index].collectionId +
                  "/" +
                  pdfs[index].id +
                  "/" +
                  pdfs[index].pdf || "#";
        const linkText = isFirstRow ? "DATA SHEET" : "VIEW";
        // Cambiar al siguiente índice después de la primera fila
        if (!isFirstRow) index = (index + 1) % pdfs.length;
        if (isFirstRow) {
            isFirstRow = false;
            return `<th>
            ${linkText}
          </th>`;
        }
        isFirstRow = false;

        // Devolver la fila de la tabla con enlace
        return `<th>
            <a href="${content}" class="text-blue-500" target="_blank" rel="noopener noreferrer">${linkText}</a>
          </th></tr>`;
    } else {
        return "</tr>";
    }
});
---

<Layout title={producto.nombre}>
    <section
        class="bg-bgDrAgua flex justify-center items-center flex-col pt-40 gap-8"
    >
        {
            categoria && (
                <a
                    href={`/categorias/${categoria.nombre}`}
                    class="absolute left-4 top-24 md:left-8 md:top-28 flex items-center gap-2 text-white/75 hover:text-white transition-colors"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path d="m15 18-6-6 6-6" />
                    </svg>
                </a>
            )
        }
        <h2
            class="text-center px-1"
            style="color: var(--Pale-Color, #F2F6FF);
    font-size: clamp(12px, 2vw, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 2px;"
        >
            <a class="text-white/75" href="/">INICIO</a>
            <span class="text-white/75"> / </span>
            <a class="text-white/75" href="/categorias">CATEGORIAS</a>
            {
                categoria && (
                    <>
                        <span class="text-white/75"> / </span>
                        <a
                            class="text-white/75"
                            href={`/categorias/${categoria.nombre}`}
                        >
                            {categoria.nombre}
                        </a>
                    </>
                )
            }
            {
                producto.marca && (
                    <>
                        <span class="text-white/75"> / </span>
                        <a
                            class="text-white/75"
                            href={`/marcas/${producto.marca}`}
                        >
                            {producto.marca}
                        </a>
                    </>
                )
            }
            <span class="text-white/75"> / </span>
            {producto.nombre}
        </h2>
        <div class="container mx-auto px-6 py-8">
            <div class="max-w-7xl mx-auto">
                <h1 class="text-4xl font-bold mb-8 text-white text-center">
                    {producto.nombre}
                </h1>
                <div class="flex flex-col gap-6 justify-between items-start">
                    <div class="w-full flex justify-center">
                        <img
                            src={producto.fotoUrl}
                            alt={producto.nombre}
                            class="h-auto w-80 rounded-lg shadow-lg"
                        />
                    </div>
                    <div
                        class="w-full flex items-center justify-center flex-col text-[#93A0BC]"
                    >
                        <div
                            class="prose prose-invert table-wrapper text-sm"
                            set:html={description}
                        />
                        {
                            producto?.expand?.pdfs_carta?.map(
                                (card_pdf: any) => {
                                    // console.log(card_pdf);
                                    return (
                                        <a
                                            href={`https://doctor-agua.pockethost.io/api/files/${card_pdf.collectionId}/${card_pdf.id}/${card_pdf.pdf}`}
                                            class="text-blue-500 hover:underline ml-4"
                                            target="_blank"
                                            rel="noopener noreferrer"
                                        >
                                            {card_pdf.texto_link}
                                        </a>
                                    );
                                },
                            )
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>

<style>
    /* Table styles */
    :global(table) {
        width: fit-content;
        border-collapse: collapse;
        margin: 0 0 1rem 0;
        background: rgba(3, 16, 42, 0.5);
        border-radius: 5px;
        margin-top: 0;
    }

    :global(.table-wrapper) {
        width: fit-content;
        max-width: 100vw;
        overflow-x: auto;
        margin-bottom: 1rem;
        margin-top: 0;
        border-radius: 5px;
        padding: 1px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    @media (min-width: 800px) {
        :global(table) {
            min-width: 500px;
        }
    }

    :global(th),
    :global(td) {
        padding: 12px;
        text-align: left;
        border: 1px solid #111e39;
        color: var(--Paragraph-Color, #93a0bc);
        white-space: nowrap;
    }

    :global(th) {
        background: rgba(17, 30, 57, 0.5);
        font-weight: 600;
        letter-spacing: 1.6px;
    }

    :global(tr:hover) {
        background: rgba(19, 37, 79, 0.3);
    }
</style>
